body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u9 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u10 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u11 {
  position:absolute;
  left:71px;
  top:71px;
  width:298px;
  height:89px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u12 {
  position:absolute;
  left:26px;
  top:400px;
  width:323px;
  height:49px;
  overflow:hidden;
}
#u12_state0 {
  position:absolute;
  left:0px;
  top:0px;
  width:323px;
  height:49px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
}
#u12_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u13_div {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:100px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u13 {
  position:absolute;
  left:0px;
  top:0px;
  width:698px;
  height:100px;
}
#u14 {
  position:absolute;
  left:2px;
  top:42px;
  width:694px;
  visibility:hidden;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:26px;
  top:190px;
  width:323px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u16 {
  position:absolute;
  left:26px;
  top:513px;
  width:323px;
  height:52px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u17 {
  position:absolute;
  left:8px;
  top:23px;
  width:36px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
