body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:375px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u38_img {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u38 {
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:667px;
}
#u39 {
  position:absolute;
  left:2px;
  top:326px;
  width:371px;
  visibility:hidden;
  word-wrap:break-word;
}
#u40 {
  position:absolute;
  left:194px;
  top:617px;
  width:96px;
  height:50px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u41 {
  position:absolute;
  left:0px;
  top:357px;
  width:375px;
  height:84px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
#u42 {
  position:absolute;
  left:10px;
  top:28px;
  width:36px;
  height:34px;
  overflow:hidden;
  background-image:url('../../resources/images/transparent.gif');
}
